@import 'tailwindcss';

.header{
  @apply fixed top-0 md:flex w-full items-center gap-5 px-5 py-3 z-150 md:flex-row items-center;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.scrolled{
  background-color: var(--teal);
}

.not-home{
  background-color: var(--teal);
}